rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /merchantUsers/{authUid} {
      allow get: if signedIn() && request.auth.uid == authUid;
      allow list, create, update, delete: if false;
    }

    match /merchants/{merchantId} {
      allow read, write: if false;
      match /{document=**} {
        allow read, write: if false;
      }
    }

    match /customerUsers/{authUid} {
      allow read, write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
